<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				      <li><a href="/cv">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:clement.lalanne@ens.fr">email</a></li>
	        		<li><a target="_blank" href="https://github.com/ClementLalanne">github</a></li>
							<li><a target="_blank" href="https://www.linkedin.com/in/cl%C3%A9ment-lalanne-888b48126/">linkedin</a></li>
				</ul>
			</footer>
		</body>
</html>
